<div class="main-wrapper">

  <!-- partial:navbar -->
  <!-- <app-navbar></app-navbar> -->
  <!-- partial -->

  <div class="page-wrapper" (click)="menuHide()">

    <div class="page-content">

      <!-- Spinner for lazyload modules -->
      <div *ngIf="isLoading" class="spinner-wrapper">
        <!-- <div class="spinner">Loading...</div> -->
  <img src="../../../../assets/loader.svg" style="width: 100px;">

      </div>

      <div contentAnimate *ngIf="!isLoading">

       <!-- <app-breadcrumbs></app-breadcrumbs> -->
        <router-outlet>
          <p-dialog header="Warning!" [(visible)]="displayModal" [modal]="true" [draggable]="false" [resizable]="false"
          appendTo="body">
          <br>
          <div class="text-center">There is no activity for nearly 30 minutes. You will be logged out automatically in</div>
          <div class="text-center"><span class="countClass">{{idleState}}</span><span>&nbsp; seconds.</span></div>
          <ng-template pTemplate="footer">
            <p-button (click)="displayModalbutton" label="Cancel" styleClass="p-button-text"></p-button>
          </ng-template>
        </p-dialog>
        </router-outlet>
      </div>

    </div>

    <!-- partial:footer -->
    <!-- <app-footer></app-footer> -->
    <!-- partial -->

  </div>


</div>