<div>
<!-----------------Lesson 1-------------------------------------------------------->
<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 1">
    <!----------------1.1.introduction----------------------------------------->
    <app-introduction [instruction]="introduction_lesson_1"></app-introduction>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 2">
    <!----------------1.2.warm up----------------------------------------->
    <app-warm-up [lesson]="lesson_1"></app-warm-up>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 3">
    <!----------------1.3.picture play----------------------------------------->
   <app-picture-play [data]="picturePlayData_lesson_1"></app-picture-play>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 4">
    <!----------------1.4.Open story----------------------------------------->
    <app-open-story [data]=""></app-open-story>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 5">
    <!----------------1.5.Open story----------------------------------------->
    <app-think-and-write [data]="thinkAndWrite_lesson_1"></app-think-and-write>
    <iframe src="https://h5p.org/h5p/embed/1356291" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="mcq image type"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 6">
    <!----------------1.6.Open story----------------------------------------->
    <h4 class="rounded bg-light py-3 px-4">Word Help</h4>
    <app-word-help [data]="wordHelp_lesson_1" ></app-word-help>
</div>
</div>

<!-----------------Lesson 5-------------------------------------------------------->
<div>
<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 7">
    <!----------------2.1.introduction----------------------------------------->
    <app-introduction [instruction]="introduction_lesson_2"></app-introduction>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 8">
    <!----------------2.2.warm up----------------------------------------->
    <app-warm-up [lesson]="lesson_2"></app-warm-up>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 9">
    <!----------------2.3.Word play----------------------------------------->
    <app-wordplay [wordplayData]="wordplayData_2"></app-wordplay>
    <iframe src="https://h5p.org/h5p/embed/1357994" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="Word Play: Matching Game L-5"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 10">
    <!----------------2.4.Picture play----------------------------------------->
   <app-picture-play [data]="picturePlayData_lesson_5"></app-picture-play>
   <iframe src="https://h5p.org/h5p/embed/1355993" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="mcq image type"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 11">
     <!----------------2.5.Lets talk----------------------------------------->
    <app-lets-talk></app-lets-talk>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 12">
    <!----------------2.6.Think and write----------------------------------------->
    <app-think-and-write [data]="thinkAndWrite_lesson_2"></app-think-and-write>
    <iframe src="https://h5p.org/h5p/embed/1356291" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="mcq image type"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 13">
    <!----------------2.7.Word help----------------------------------------->
    <h4 class="rounded bg-light py-3 px-4">Word Help</h4>
    <app-word-help [data]="wordHelp_lesson_2" ></app-word-help>
</div>
</div>
<!---=============================Lesson 6====================================================! -->
<div>
    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 14">
        <!---------------------------3.1.introduction---------------------------->
        <app-introduction [instruction]="introduction_lesson_3"></app-introduction>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 15">
        <!---------------------------3.2.warm up---------------------------->
        <app-warm-up [lesson]="lesson_3"></app-warm-up>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 16">
        <!---------------------------3.3.word play---------------------------->
        <!-- <app-warm-up [lesson]="lesson_2"></app-warm-up> -->
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 17">
        <!---------------------------3.4.picture play---------------------------->
        <app-picture-play [data]="picturePlayData_lesson_6"></app-picture-play>
        <iframe src="https://h5p.org/h5p/embed/1356284" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="mcq image type"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 18">
         <!--------------------------3.5.Lets talk----------------------------------------->
        <app-lets-talk></app-lets-talk>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 19">
        <!--------------------------3.5.think and write----------------------------------------->
        <app-think-and-write [data]="thinkAndWrite_lesson_3"></app-think-and-write>
        <iframe src="https://h5p.org/h5p/embed/1356291" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="mcq image type"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 20">
        <!--------------------------3.6.Word help----------------------------------------->
        <h4 class="rounded bg-light py-3 px-4">Word Help</h4>
        <app-word-help [data]="wordHelp_lesson_2" ></app-word-help>
    </div>
</div>



<!-------------------Lesson 8--------------------------------->
<div>
    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 21">
        <!---------------------------4.1.introduction---------------------------->
        <app-introduction [instruction]="introduction_lesson_4"></app-introduction>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 22">
        <!---------------------------4.2.warm up---------------------------->
        <app-warm-up [lesson]="lesson_4"></app-warm-up>
    </div>
    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 23">
        <!---------------------------4.4.picture play---------------------------->
        <app-picture-play [data]="picturePlayData_lesson_8"></app-picture-play>
        <iframe src="https://h5p.org/h5p/embed/1356282" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="mcq image type"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 24">
         <!--------------------------4.5.Lets talk----------------------------------------->
        <app-lets-talk></app-lets-talk>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 25">
        <!--------------------------4.5.think and write----------------------------------------->
        <app-think-and-write [data]="thinkAndWrite_lesson_3"></app-think-and-write>
        <iframe src="https://h5p.org/h5p/embed/1356291" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="mcq image type"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
    </div>

    <div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 26">
        <!--------------------------4.6.Word help----------------------------------------->
        <h4 class="rounded bg-light py-3 px-4">Word Help</h4>
        <app-word-help [data]="wordHelp_lesson_2" ></app-word-help>
    </div>
</div>
<div class="text-center">
    <button class="px-5 py-3 rounded bg-primary border-0 text-white fs-4 mt-5" (click)="gotoNextpage()">Next</button>
</div>


<!--
<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 1">
    <h4 class="rounded bg-light py-3 px-4">Hello, Please select the Topic</h4>
</div>
<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 2">
    <h4 class="rounded bg-light py-3 px-4">Learn with Audio</h4>
    <audio controls class="w-100 mt-4">
        <source src="assets/media/audio.mp3" type="audio/mpeg">
    </audio>
    <h5 class="px-2 pt-4">ஆத்திச்சூடியை எழுதியவர் யார்?</h5>
    <div class="px-2 pt-2">
        <div class="form-check py-1">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                கம்பர்
            </label>
          </div>
          <div class="form-check py-1">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                ஒளவையார் 
            </label>
          </div>
          <div class="form-check py-1">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault1">
                திருவள்ளுவர்
            </label>
          </div>
          <div class="form-check py-1">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                பாரதியார்
            </label>
          </div>
    </div>
    <div class="text-center">
        <button class="px-5 py-3 rounded bg-primary border-0 text-white fs-4 mt-5" (click)="gotoNextpage(2)">Next</button>
    </div>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 3">
    <h4 class="rounded bg-light py-3 px-4">Learn with Video</h4>
    <video controls class="w-50 mx-auto mt-4 rounded">
        <source src="assets/media/video.mp4" type="video/mp4">
    </video>
    <h5 class="px-2 pt-4">ஆத்திச்சூடியை எழுதியவர் யார்?</h5>
    <div class="px-2 pt-2">
        <div class="form-check py-1">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                கம்பர்
            </label>
          </div>
          <div class="form-check py-1">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                ஒளவையார் 
            </label>
          </div>
          <div class="form-check py-1">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault1">
                திருவள்ளுவர்
            </label>
          </div>
          <div class="form-check py-1">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                பாரதியார்
            </label>
          </div>
    </div>
    <div class="text-center">
        <button class="px-5 py-3 rounded bg-primary border-0 text-white fs-4 mt-5" (click)="gotoNextpage(3)">Next</button>
    </div>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 5">
    <iframe src="https://h5p.org/h5p/embed/1355913" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="mcq image type"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
</div>
<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 4">
    <iframe src="https://h5p.org/h5p/embed/1355900" width="900" height="700" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="multiple text choice"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 6">
    <h4 class="rounded bg-light py-3 px-4">Learn with Quiz</h4>
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <div *ngFor="let jslist of jsonList;" class="border-bottom border-dark pb-5">
                    <div class="d-flex justify-content-center pt-5">
                        <span class="draggable" id="demo{{jslist.id}}{{j}}" pDraggable (dragstart)="drag($event)" *ngFor="let draglist of jslist.ops_list; let j = index;">{{draglist}}</span>
                    </div>
                    <h3 #jslist id="ques_{{jslist.id}}" class="pt-5 mx-auto">It is a long established fact <span class="input-bx" (drop)="drop($event)" pDroppable></span> a reader will be distracted by <span class="input-bx" (drop)="drop($event)" pDroppable></span> readable content of a page <span class="input-bx" (drop)="drop($event)" pDroppable></span> looking at its layout.</h3>
                </div>
                
                
                <div class="text-center">
                    <button class="btn-primary rounded px-4 py-2 border-0 fs-5 mt-5" (click)="getValue()">Show Result</button>
                </div>
                
                <div class="p-5 mx-auto bg-light mt-5" *ngIf="answerBox">
                        <h3 class="text-center pb-2">THE RESULT..!</h3>
                    <h4 class="p-4 mt-4 d-flex align-items-center alert" *ngFor="let otptquetn of jsonList" [ngClass]="otptquetn.getques == otptquetn.crctques ? 'alert-success' : 'alert-danger'"> <i class="bi pe-2" [ngClass]="otptquetn.getques == otptquetn.crctques ? 'bi-check-circle-fill' : 'bi-x-circle-fill'"></i> {{otptquetn.getques}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="px-5 py-3 rounded bg-primary border-0 text-white fs-4 mt-5" (click)="gotoNextpage(1)">Go to first page</button>
    </div>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 7">
    <h4 class="rounded bg-light py-3 px-4">Word Help</h4>
    <app-word-help></app-word-help>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 14">
    <app-open-story></app-open-story>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 15">
    <h4 class="rounded bg-light py-3 px-4">Lets Talk</h4>
    <app-lets-talk></app-lets-talk>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 8">
    <iframe width=100%; height=500; src="/editor"></iframe>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 9">
    <iframe width=100%; height=500; src="/player"></iframe>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 12">
    <iframe src="https://h5p.org/h5p/embed/1355998" width="900" height="844" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="Short"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 13">
    <iframe src="https://sballtnpoc.uniteframework.io/proto2/
    " width="900" height="706" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="Short"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 11">
    <iframe src="https://h5p.org/h5p/embed/1355993" width="900" height="732" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="Drag Name"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 16">
    <iframe src="https://h5p.org/h5p/embed/1356235" width="900" height="772" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="Picture Play: What are they doing?"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 17">
    <iframe src="https://h5p.org/h5p/embed/1356255" width="900" height="762" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="Our Family"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 18">
    <iframe src="https://h5p.org/h5p/embed/1356284" width="900" height="754" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="Find the things"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 19">
    <iframe src="https://h5p.org/h5p/embed/1356291" width="900" height="720" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="Think and Write"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
</div>

<div class="rounded bg-white border p-3" *ngIf="levelService.viewPage == 20">
    <iframe src="https://h5p.org/h5p/embed/1356287" width="900" height="1000" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="Our Family Think and Write"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
</div>

 -->
