<!-- <div class="banner-img">
    <img src="assets/images/level-sidebar/banner-img.png" class="img-fluid w-100">
</div> -->
<header>
  <nav class="level-nav">
    <div class="container-fluid">
      <img class="img-fluid" width="59px" height="59px" src="../../../../assets/home-asset/header-round.png" alt="">
      <img class="img-fluid ms-3" height="64px" width="162.77px" src="../../../../assets/home-asset/mozhigal_white.png"
        alt="header-logo">

    </div>
  </nav>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="rounded bg-white border p-3" *ngIf="levelService?.lessonData">
        <app-view-lesson [lessonData]="levelService?.lessonData"></app-view-lesson>
      </div>
      <div class="text-center">
        <button class="px-5 py-3 rounded bg-primary border-0 text-white fs-4 mt-5"
          (click)="levelService.playNextLesson()" *ngIf="levelService?.lessonData">Next</button>
        <button class="px-5 py-3 rounded bg-primary border-0 text-white fs-4 mt-5"
          (click)="levelService.playNextLesson()" *ngIf="!levelService?.lessonData">Start</button>
      </div>
      <!-- <app-level-viewpart></app-level-viewpart> -->
    </div>
    <div class="col-md-3">
      <app-level-sidemenu></app-level-sidemenu>
    </div>
  </div>
</div>
<footer>
  <div class="footer-level-img footer" style="position:relative!important">
    <div class="content">
      <p>
        A lot of work has gone into making the Mozhigal lesson content.
        We have also used resources from many different places.
      </p>


      <p>
        To view the sources who have inspired the content and who have created the lessons and the activities for
        Level 1,
        please <a
          href="https://clixplatform.tiss.edu/eb-unit0-english-beginner/course/activity_player/5a7d3ff769602a01579b0aa5/5a8b97b569602a01579eba4d/"
          target="_blank">Click here.</a>
      </p>
    
      <p>
        To view the sources who have inspired the content and who have created the lessons and the activities for
        Level 2, please <a
          href="https://clixplatform.tiss.edu/eb-unit1-english-beginner/course/activity_player/5a8b9b9c69602a0154bd46d4/5a8b9b2369602a01579ebaf2/"
          target="_blank">Click here.</a>
      </p>
    </div>
  </div>
</footer>