.content {
  position: absolute !important;
  margin: 3%;
  bottom: 0.1%;
  width: auto;
  margin-bottom: 3px!important;
}

.footer {
  display: flex;
  justify-content: right;
  //   align-items: center;
}

p {
  color: white;
  line-height: 23px;
  font-size:10px!important
}

a {
  text-decoration: underline;
}
