.content {
  position: absolute !important;
  margin: 3%;
  bottom:0%
}

.footer {
  display: flex;
  justify-content: right;
//   align-items: center;
}

h6 {
  color: white;
  line-height: 21px;
}

a {
  text-decoration: underline;
}
