<div class="row w-100 mx-0 auth-page" >
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0 imagelogo">
          <div class="auth-side-wrapper" style="background-image: url(../../../../../assets/images/login3_cover.jpg);">

          </div>
        </div>
        <div class="col-md-8 ps-md-0" >
          <div class="auth-form-wrapper px-4 py-5">
            <img src="../../../../../assets/images/GOVT_LOGO.png" class="image"/>
            <h5 class="headingcenter1 text-muted fw-normal mb-4 text-center">கல்வி மேலாண்மைத் தகவல் மையம்</h5>

            <br>
            <form *ngIf="showloginpage" class="forms-sample"  [formGroup]="loginForm">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">User Name</label>
                <input type="email" class="form-control" id="exampleInputEmail1"   formControlName="email" placeholder="User Name" value="admin@demo.com">
                <small class="form-text text-danger" *ngIf="loginForm.controls.email.errors?.required  && (submitted1 || loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">Enter User Name</small>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <span class="p-input-icon-right d-flex">
                  <input [type]="PassShow ? 'password' : 'text'" class="form-control" id="exampleInputPassword1" formControlName="password" autocomplete="current-password" placeholder="Password" value="12345678">
                  <i (click)="eyeClick()" [class]="PassShow ? 'pi pi-eye' : 'pi pi-eye-slash'"></i>
                </span>
                
                <small class="form-text text-danger" *ngIf="loginForm.controls.password.errors?.required  && (submitted1 || loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"> Enter Password</small>
              </div>
              <!-- <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="authCheck">
                <label class="form-check-label" for="authCheck">
                  Remember me
                </label>
              </div> -->
              <div class="row">
                <!-- <br> --> 
                <div class="col-12 text-center">

                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="onLogin()">Login</button>
                &nbsp;
               <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="onSubmit()">Forgot Password</button>
              </div>
                <!-- <button type="button" class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0">
                  <i class="feather icon-twitter btn-icon-prepend"></i>
                  Login with twitter
                </button> -->
              </div>
              <br>
              <!-- <br> -->
               <!-- <a class="d-block mt-3 text-muted" (click)="onSubmit()">Forgot Password ?</a> -->
              <div>

              </div>
            </form>
            <form *ngIf="showforgotpasswordpage" class="forms-sample"  [formGroup]="loginForm2">
              <!-- <div class="form-group row my-2 text-start">
                <label class="inMandatory form-label">Please Select Your User Type</label>
                  <span class="p-input-icon-right">
                    <p-dropdown [options]="stateOptions" placeholder="UserType" 
                     styleClass="dropdwnvalues"
                     (onChange)="userTypeChange($event.value) 
                      formControlName="usertype" optionLabel="label" optionValue="value" class="pselectbut">
                    </p-dropdown>
                  </span>
                <span class="form-text text-danger" style="font-size: 13px;"
                *ngIf="!loginForm2.get('usertype').valid && (forgetSubmitted || loginForm2.get('usertype').dirty || loginForm2.get('usertype').touched)">
                Usertype is required
              </span>
              </div> -->
              <br>
              <div class="mb-2">
                <label for="exampleInputEmail1" class="form-label inMandatory">Enter User Id</label>
                <input type="text" class="form-control alignfield" id="exampleInputEmail1"   formControlName="username" placeholder="Enter User Id">
                <small class="form-text text-danger" *ngIf="loginForm2.controls.username.errors?.required  && (forgetSubmitted || loginForm2.get('username')?.dirty || loginForm2.get('username')?.touched)"> Enter User Id</small>
              </div>
              <div>
                <p>Your Password will be sent to your registered mail-Id. Do you want to submit your "Forgot Password" request?</p>
              </div>
              <br>
              <!-- <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Select User Type</label><br>
                <span class="p-input-icon-right alignfield">
                  <p-selectButton [options]="stateOptions" [(ngModel)]="value1" formControlName="usertype" optionLabel="label" optionValue="value"></p-selectButton>
                </span><br>
                <small class="form-text text-danger" *ngIf="loginForm2.controls.usertype.errors?.required  && (submitted || loginForm2.get('usertype')?.dirty || loginForm2.get('usertype')?.touched)"> Select User Type</small>
              </div> -->
              <div class="row">
                <div class="col text-center">
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="submitforgotpassword()" >Submit</button>
                <!-- <a class="d-block mt-3 text-muted" (click)="Login()">Login</a> -->
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="Login()">Back To Login</button>
              </div>
              </div>
            </form>
<div *ngIf="successHide">

            <div class="row">
              <div class="col-12">
                <!-- <p>Your request has been sent successfully please contact your BRTE / Block co-ordinator and to receive the password</p> -->
                <p>Your request has been sent successfully. Please check your mail and to receive the password</p>
                <br>
                <h6 class="text-center">Thank You</h6> 
              </div>
            </div>
<br>
<br>
<div class="row">
  <div class="col-12 text-center">
    <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="Login()">Back To Login</button>
  </div>
</div>
<br>
</div>

           
          </div>


        
        </div>
      </div>
    </div>
  </div>
</div>

