<div class="horizontal-menu" id="printPageButton">
  <nav class="navbar top-navbar">
    <div class="container">
      <div class="navbar-content">

        <!--- Logo -->
        <img id="govlogo" src="assets/images/download.png">
        <a routerLink="/" class="navbar-brand nobleui-logo">
          TN<span>&nbsp;EMIS</span>
        </a>

        <ul class="navbar-nav">
<!--Theme nav bar-->
         
          <li class="nav-item nav-profile" ngbDropdown>
            <a class="nav-link" ngbDropdownToggle id="profileDropdown">
              <img class="wd-35 ht-35 rounded-circle"src="../../../../assets/images/user.png" alt="profile">
            </a>
          </li>
          <li class="nav-item nav-profile mt-1" ngbDropdown>
            <div class="text-left">
              <a class="tx-12 fw-bolder nav-link mt-1" ngbDropdownToggle id="profileDropdown">{{Name}} <i
                class="icon-lg text-muted pb-3px" data-feather="chevron-down" appFeatherIcon></i></a>
                  <p class="tx-12 text-muted">Active</p>
            </div>
            <div ngbDropdownMenu class="px-0" aria-labelledby="profileDropdown">
              <div class="d-flex flex-column align-items-center border-bottom px-5 py-3">
                <div class="mb-3">
                  <img class="wd-80 ht-80 rounded-circle" src="../../../../assets/images/user.png" alt="profile">
                  
                </div>
                <div class="text-center">
                  <p class="tx-16 fw-bolder">{{userName}}</p>
                  <p class="tx-16 fw-bolder">{{designation}}</p>
                  <!-- <p class="tx-12 text-muted">amiahburton@gmail.com</p> -->
                </div>
              </div>
              <ul class="list-unstyled p-1">
                <!-- <li class="dropdown-item py-2">
                  <a routerLink="/general/profile" class="d-flex text-body ms-0">
                    <i class="feather icon-user me-2 icon-md"></i>
                    <span>Profile</span>
                  </a>
                </li>
                <li class="dropdown-item py-2">
                  <a href="" (click)="false" class="d-flex text-body ms-0">
                    <i class="feather icon-edit me-2 icon-md"></i>
                    <span>Edit Profile</span>
                  </a>
                </li>
                <li class="dropdown-item py-2">
                  <a href="" (click)="false" class="d-flex text-body ms-0">
                    <i class="feather icon-repeat me-2 icon-md"></i>
                    <span>Switch User</span>
                  </a>
                </li> -->
                <li class="dropdown-item py-2">
                  <a (click)="resetpassword()" class="d-flex text-body ms-0">
                    <i class="feather icon-key me-2 icon-md"></i>
                    <span>Reset Password</span>
                  </a>
                </li>
                <li class="dropdown-item py-2">
                  <a href="" (click)="onLogout()" class="d-flex text-body ms-0">
                    <i class="feather icon-log-out me-2 icon-md"></i>
                    <span>Log Out</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>

        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          (click)="toggleHeaderMenu()">
          <i data-feather="menu" class="text-body"></i>
        </button>


        <!-- <button class="btn btn-primary dyacolor" (click)="changeTheme()">Change Theme color</button> -->
      </div>
    </div>
  </nav>

  <nav class="bottom-navbar">
    <div class="container">

      <!--- Menu -->
      <ul class="nav page-navigation">
        <ng-container *ngFor="let item of menuItems let ind=index">

          <li class="nav-item" [routerLinkActive]="['active']" *ngIf="!item.subMenus && !item.visible">
            <a class="nav-link" [routerLink]="item.link" *ngIf="!hasItems(item)" (click)="addFocus(ind)">
              <i class="link-icon" [attr.data-feather]="item.icon" appFeatherIcon *ngIf="item.icon"></i>
              <span class="menu-title">{{ item.label }}</span>
            </a>
            <a href="javascript:void(0);" class="nav-link" *ngIf="hasItems(item)" (click)="addFocus(ind)">
              <i class="link-icon" [attr.data-feather]="item.icon" appFeatherIcon *ngIf="item.icon"></i>
              <span class="menu-title">{{ item.label }}</span>
              <i class="link-arrow"></i>
            </a>
            <div class="submenu click-style{{ind}}" *ngIf="hasItems(item)" (click)="removeFocus(ind)">

              <ul class="submenu-item" *ngFor="let subMenu of item.subMenus">
                <ng-container *ngFor="let subMenuItem of subMenu.subMenuItems">
                  <li class="category-heading" *ngIf="subMenuItem.isMegaMenu && !subMenuItem.visible" (click)="toggleHeaderMenu()">{{ subMenuItem.label }}</li>

                  <li class="nav-item" *ngIf="!subMenuItem.isMegaMenu && !subMenuItem.visible" (click)="removeFocus(ind)">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="subMenuItem.link" (click)="toggleHeaderMenu()">{{
                      subMenuItem.label }}</a>
                    <span class="badge bg-{{subMenuItem.badge.variant}}"
                      *ngIf="subMenuItem.badge">{{subMenuItem.badge.text}}</span>
                  </li>
                </ng-container>
              </ul>

            </div>
          </li>

          <li class="nav-item mega-menu" [routerLinkActive]="['active']" *ngIf="item.subMenus && !item.visible">
            <a href="javascript:void(0);" class="nav-link" (click)="addFocus(ind)">
              <i class="link-icon" [attr.data-feather]="item.icon" appFeatherIcon *ngIf="item.icon"></i> 
              <span class="menu-title">{{ item.label }}</span>
              <i class="link-arrow"></i>
            </a>
            <div class="submenu click-style{{ind}}" (click)="removeFocus(ind)">
              <div class="row">
                <div class="col-md-3" *ngFor="let subMenu of item.subMenus" [class.d-none]='subMenu[0].subMenuItems.length==0'>
                  <ul class="submenu-item">
                    <ng-container *ngFor="let subMenuItem of subMenu[0].subMenuItems">

                      <li class="category-heading" *ngIf="subMenuItem.isTitle && !subMenuItem.visible" (click)="toggleHeaderMenu()">{{ subMenuItem.label }}</li>

                      <li class="nav-item" *ngIf="!subMenuItem.isTitle && !subMenuItem.visible" (click)="removeFocus(ind)">
                        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="subMenuItem.link" (click)="toggleHeaderMenu()">{{
                          subMenuItem.label }}</a>
                      </li>

                    </ng-container>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
  </nav>
</div>