<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <img class="img-fluid mt-2" width="59px" height="59px"
                    src="../../../../assets/home-asset/header-round.png" alt="">
                <img class="img-fluid" height="64px" width="162.77px"
                    src="../../../../assets/home-asset/header_logo.png" alt="header-logo">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="bi bi-list"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-link active me-4 fs-14 fw-700" aria-current="page" href="">Home</a>
                        <a class="nav-link active me-4 fs-14 fw-700" aria-current="page" routerLink="/level">Lets
                            Learn</a>
                        <a class="nav-link active me-4 fs-14 fw-700" aria-current="page" routerLink="/level">Lets
                            Play</a>
                        <a class="nav-link me-4 fs-14 fw-700 parent" href="">About
                            <ul class="sub-menu">
                                <li>
                                    <a class="nav-link me-4 fs-14 fw-700" routerLink="/learn-tommorow" href="">Learn for
                                        Tomorrow</a>
                                </li>
                                <li>
                                    <a class="nav-link me-4 fs-14 fw-700" routerLink="/research" href="">Research</a>
                                </li>
                            </ul>
                        </a>
                        <a routerLink="/level" class="nav-link me-4 fs-14 fw-700 d-none" href="">Language Lab</a>
                        <a class="nav-link me-4 fs-14 fw-700 d-none" href="">Explore</a>
                        <a class="nav-link fs-14 fw-700" id="eng">Eng &nbsp; /</a>
                        <a class="nav-link me-4 fs-14 fw-700" id="de">
                            தமிழ்</a>
                        <a routerLink="/level" class="nav-link fs-14 fw-700 text-pink header-btn" href="">LOGIN</a>
                    </div>
                </div>
            </div>
        </nav>

    </div>
</header>
<section>
    <div class="container">
        <div class="research-grid shadow-sm p-3 mb-5 bg-body rounded mt-4">
            <div class="text-blue fs-24 fw-700">Approach and Design for Language Lab Portal</div>
            <div class="fs-14 mt-2">
                The School Education Department conducted research on the existing frameworks for learning foreign
                languages
                like English. This was combined with study of good practices in child-friendly interfaces to learn any
                language. To actualise a thorough foundation embedded into digital pedagogy and AI powered feedback, the
                department applied these design principles for “Mozhigal”:
            </div>
        </div>

        <div class="research-grid shadow-sm p-3 mb-5 bg-body rounded ">
            <div class="text-blue fs-24 fw-700">Post Method Pedagogy : </div>
            <div class="fs-14 mt-2">
                Post method pedagogy enables teachers to get location-specific and classroom-oriented innovative
                practices.
                It guides the teachers to take theoretical teaching material and make it adaptive to classroom reality [
                Kumaravadivelu, 1994]. The method focuses on giving teachers the freedom to adapt classroom material
                according to their students’ learning levels and regional context.
            </div>
        </div>
        <div class="research-grid shadow-sm p-3 mb-5 bg-body rounded">

            <div class="text-blue fs-24 fw-700">Constructivism :</div>
            <div class="fs-14 mt-2">
                Constructivism sees learning as an active process where learning is built through experience. Problem
                solving and understanding skills are grown through real tasks, experiential learning and collaboration.
                Children will be encouraged to read stories and correct themselves by the AI powered mechanics. They
                will
                create stories by selecting pictures and recording audio. This method promotes learners’ motivation and
                critical thinking as well as encourages them to learn independently [Amineh & Davatgari, 2015].
            </div>
        </div>
        <div class="research-grid shadow-sm p-3 mb-5 bg-body rounded">
            <div class="text-blue fs-24 fw-700">Bilingual Approach :</div>
            <div class="fs-14 mt-2">
                The bilingual approach makes the unfamiliar foreign language learning easier by using the native tongue
                as
                the base language in the teaching-learning material delivery. In Mozhigal, to initiate children into
                English
                learning, the medium of instruction in Level 1 will be bilingual i.e available in English as well as
                Tamil.
                The child will build the skill to independently understand and follow instructions in the modules. It
                will
                also make it easier for the teacher to facilitate the sessions in English and Tamil.
                Cummins’s Common Underlying Proficiency (CUP) theory assumes that students will be able to draw on their
                first language to be able to function at an acceptable standard in the second language. [Cummins, 2000].
            </div>
        </div>
        <div class="research-grid shadow-sm p-3 mb-5 bg-body rounded">
            <div class="text-blue fs-24 fw-700">Multimodal learning :</div>
            <div class="fs-14 mt-2">
                This in simple terms is the use of multimedia as TLM for students - auditory, visual , kinesthetic and
                reading/writing materials [Birch and Sankey, 2008]. The School Education Department believes that by
                adding
                engaging interactive activities such as a partner based read along with feedback, a speech practice tool
                and
                a story creation tool, all senses of the child will be thoroughly engaged.
            </div>
        </div>
        <div class="research-grid shadow-sm p-3 mb-5 bg-body rounded">
            <div class="text-blue fs-24 fw-700">Peer learning :</div>
            <div class="fs-14 mt-2 mb-5"> Promoting collaboration by peers coordinating and learning with one another.
                The
                Read Along tool has a feature that allows two students to exchange dialogue and play a “2 player reading
                game”. Additionally, our “Let’s Talk” Sections in the lesson modules also promote peer learning and
                collaboration.
            </div>
        </div>
    </div>
</section>

<footer class="footer-blue"></footer>