<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <img class="img-fluid mt-2" width="59px" height="59px" src="../../../../assets/home-asset/header-round.png" alt="">
                <img class="img-fluid" height="64px" width="162.77px" src="../../../../assets/home-asset/header_logo.png" alt="header-logo">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="bi bi-list"></i>
                </span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link active me-4 fs-14 fw-700" aria-current="page" href="">Home</a>
                    <a class="nav-link me-4 fs-14 fw-700"  href="">About</a>
                    <a routerLink="/level" class="nav-link me-4 fs-14 fw-700"  href="">Language Lab</a>
                    <a class="nav-link me-4 fs-14 fw-700"  href="">Explore</a>
                    <a class="nav-link fs-14 fw-700" id="eng">Eng &nbsp; /</a>
                    <a class="nav-link me-4 fs-14 fw-700" id="de">
                        தமிழ்</a>
                    <a routerLink="/level" class="nav-link fs-14 fw-700 text-pink header-btn" href="">LOGIN</a>
                </div>
              </div>
            </div>
          </nav>
          
    </div>
</header>

    <div class="container">
        <div class="text-blue fs-34 fw-700 mt-5">Coming Soon</div>
    </div>

