@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter&family=Roboto:wght@300;400&display=swap');
body , html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fff;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.map-img{
    background-image: url("./asset/map.png");
    height: 567px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.anker-holder{
    display: inline-block;
    padding: 13px 37px !important;
    text-decoration: none;
    border-radius: 8px;
}
.blue-circle{
    width: 230px;
    height: 230px;
    border-radius: 200px;
    background-image: url("./asset/bg-img-blue.png");
    background-position: right;
    background-repeat: no-repeat;
}
.sizetest{
     width:285.76px !important;
     height:285.76px;
}
.test-tit{
    font-size: 24px;
    line-height: 39px;
}
.bg-pink{
    background: #EC297B !important;
    width: 329.6px;
   padding: 115px 0;
    border-radius: 24px;
}
.header-btn{
    padding: 13px 37px !important;
    border: 1px solid #ED217C;
    border-radius: 8px;
}

.follow-label {
    position: absolute;
    top: 52.8%;
    color: #662D91; 
    font-size: 32px;
    transform: rotate(90deg);
    font-weight: 900;
    left: 10px;
}
.follow-label:after {
    content: '';
    position: absolute;
    width: 220px;
    top: 25px;
    left: 190px;
    height: 1px;
    background: #9F7CBA;
;
}
/* .bg-blue12{
    background-image: url("./asset/blue.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.follow-label2 {
    position: absolute;
    top: 47%;
    color: #fff; 
    font-size: 32px;
    transform: rotate(90deg);
    font-weight: 900;
    left: 10px;
}
.follow-label2:after {
    content: '';
    position: absolute;
    width: 220px;
    top: 25px;
    left: 190px;
    height: 1px;
    background: #fff;
;
}
.semi-colun{
    height: 44px !important;
    width: 47px !important;
}
.footer-blue{
    height: 77.28px;
    background: #662D91;
}
.shadow{
    position: absolute;
    top: 14%;
    left: 110px;
    mix-blend-mode:multiply;
    opacity: 0.2;
}
a{
    text-decoration: none !important;
}
.moretext {
    display: none;
}
.read-btn{
    margin-top: 8px;
    color: red;
    cursor: pointer;
}
@media (min-width:1000px) {
    .container{
        max-width: 1450px !important;
    }
}
@media (max-width:659px) {
    .follow-label{
        display: none;
    }
    .follow-label2{
        display: none;
    }
    .ps-5 {
        padding-left: 0.5rem!important;
    }
    .fs-64{
        font-size: 30px !important;
    }
    .fs-24 {
        font-size: 18px !important;
    }
    .ptb-80 {
        padding: 42px 0 !important;
    }
    .map-img{
        height: unset;
    }
    .owl-heigh{
        height: unset !important;
    }
    .blue-circle{
        margin-bottom: 20px;
    }
    .circle-holder{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .pb-120{
        padding-bottom: 50px !important;
    }
    .ptb-120 {
        padding: 85px 0 !important;
    }
    .bg-grey {
        padding: 43px 0 !important;
    }
    .mw-37 {
        max-width: 90% !important;
    }
    .ptb-250 {
        padding: 71px 0 !important;
    }
    .mw-74 {
        max-width: 83% !important;
    }
    .bg-pink {
        background: #EC297B !important;
        width: 289.6px;
        padding: 75px 0;
        border-radius: 24px;
    }
}