<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <img class="img-fluid mt-2" width="59px" height="59px"
                    src="../../../../assets/home-asset/header-round.png" alt="">
                <img class="img-fluid" height="64px" width="162.77px"
                    src="../../../../assets/home-asset/header_logo.png" alt="header-logo">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="bi bi-list"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-link active me-4 fs-14 fw-700" aria-current="page" href="">Home</a>
                        <a class="nav-link active me-4 fs-14 fw-700" aria-current="page" routerLink="/level">Lets
                            Learn</a>
                        <a class="nav-link active me-4 fs-14 fw-700" aria-current="page"
                            href="home/#boost-learning">Lets Play</a>
                        <a class="nav-link me-4 fs-14 fw-700 parent" href="">About
                            <ul class="sub-menu">
                                <li>
                                    <a class="nav-link me-4 fs-14 fw-700" routerLink="/learn-tommorow" href="">Learn for
                                        Tomorrow</a>
                                </li>
                                <li>
                                    <a class="nav-link me-4 fs-14 fw-700" routerLink="/research" href="">Research</a>
                                </li>
                            </ul>
                        </a>
                        <a routerLink="/level" class="nav-link me-4 fs-14 fw-700 d-none" href="">Language Lab</a>
                        <a class="nav-link me-4 fs-14 fw-700 d-none" href="">Explore</a>
                        <a class="nav-link fs-14 fw-700" id="eng">Eng &nbsp; /</a>
                        <a class="nav-link me-4 fs-14 fw-700" id="de">
                            தமிழ்</a>
                        <a routerLink="/level" class="nav-link fs-14 fw-700 text-pink header-btn" href="">LOGIN</a>
                    </div>
                </div>
            </div>
        </nav>

    </div>
</header>
<section>
    <div class="container">
        <div class="text-blue fs-24 fw-700 mt-5">
            How To Learn For Tomorrow
        </div>
        <div class="shadow-sm p-3 mb-5 bg-body rounded mt-4">
            <div class="text-blue fs-24 fw-700">
                Need
            </div>
            <div class="fs-16 mt-3">
                In today’s interconnected world, it is essential for the school students to build the skills today to
                engage as confident global citizens of tomorrow. To achieve this, they need to have not just awareness
                of the world but strong communication skills to voice their thoughts. Fluency in a language is critical
                to share one’s thoughts and engage with the wider world - for professional or personal purposes.
            </div>

            <div class="fs-16 mt-3">
                Reading fluency would enable one to consume and comprehend vast diverse information and in making
                meaningful and informed decisions. Speaking with comfort would allow one to communicate ideas and
                perspectives effectively. This is increasingly important in the twenty-first century, as we move towards
                a knowledge society.
            </div>
        </div>
        <div class="shadow-sm p-3 mb-5 bg-body rounded ">
            <div class="text-blue fs-24 fw-700">
                Solution
            </div>

            <div class="fs-16 mt-3">
                The government of Tamilnadu envisions to leverage technological advances including leveraging Artificial
                Intelligence and Machine Learning capabilities to develop tools and processes to enable effective
                listening, speaking and reading in Tamil and English.
            </div>
            <div class="fs-16 mt-3">
                The Language Lab Initiative is a pioneering community initiative which seeks to develop tools and
                processes for accelerated language learning with the support of the Language and AI community.
            </div>
            <div class="fs-16 mt-3">
                Significant developments in AI-powered tools and techniques especially in the Indian language context
                such as Automated Speech Recognition (ASR), and speech synthesis, coupled with advances in Natural
                Language Processing (NLP), large language models, and machine learning algorithms are making it possible
                to imagine and create contextual tools and solutions relevant for Indian learners.
            </div>

            <div class="fs-16 mt-3">
                These advances in combination with the latest research from the science of learning and locally
                relevant, contextual, engaging digital content will aid in the development of tools and processes to
                enhance the comfort in speaking and reading by providing personalized feedback and guidance to learners.
            </div>
        </div>
        <!-- <div class="fs-16 mt-3">
    Significant developments in AI-powered tools and techniques especially in the Indic language context such as automated speech recognition (ASR), and speech synthesis, coupled with advances in natural language processing (NLP), large language models, and machine learning algorithms are making it possible to
    imagine and create contextual tools and solutions relevant for Indian learners. 
    </div>

    <div class="fs-16 mt-3">
        These advances in combination with the latest research from the science of learning and locally relevant, contextual, engaging digital content will aid in the development of tools and processes to enhance the acquisition of fluency 
        in speaking and reading skills by providing personalized feedback and guidance to learners.
    </div>
    <div class="fs-16 mt-3">
        This initiative is a partnership of the Government of 
        Tamil Nadu Government with EkStep Foundation and Ai4bharat (IIT-Madras).
    </div> -->
    </div>
    <br /> <br />
</section>

<footer class="footer-blue"></footer>