<iframe width=100%; height="100" src="lets-talk/Open Story.html"></iframe>

<!-- <div class="audio-recording-container">
    <h1 class="title">What is the weather like today? Is it hot or cold? - Let's answer some questions.</h1>
    <i class="start-recording-button fa fa-microphone" aria-hidden="true"></i>
    <div class="recording-contorl-buttons-container hide">
        <i class="cancel-recording-button fa fa-times-circle-o" aria-hidden="true"></i>
        <div class="recording-elapsed-time">
            <i class="red-recording-dot fa fa-circle" aria-hidden="true"></i>
            <p class="elapsed-time"></p>
        </div>
        <i class="stop-recording-button fa fa-stop-circle-o" aria-hidden="true"></i>
    </div>
    <div class="text-indication-of-audio-playing-container">
        <p class="text-indication-of-audio-playing hide">Audio is playing<span>.</span><span>.</span><span>.</span></p>
    </div>
    <audio controls class="audio-element"></audio>
</div>
<div class="overlay hide">
    <div class="browser-not-supporting-audio-recording-box">
        <p>To record audio, use browsers like Chrome and Firefox that support audio recording.</p>
        <button type="button" class="close-browser-not-supported-box">Ok.</button>
    </div>
</div> -->

<!-- <div id="lets-talk">
    <div>
      <div>Audio</div>
      <div>
        <button class="start-button" *ngIf="!isAudioRecording && !audioBlobUrl" (click)="startAudioRecording()">Start Audio Recording</button>
        <button class="stop-button" *ngIf="isAudioRecording && !audioBlobUrl" (click)="stopAudioRecording()">Stop Audio Recording</button>
        <button class="cancel-button" *ngIf="!isAudioRecording && audioBlobUrl" (click)="clearAudioRecordedData()">Clear Audio Recording</button>
        <button class="download-button" *ngIf="!isAudioRecording && audioBlobUrl" (click)="downloadAudioRecordedData()">Download Audio Recording</button>
        <div id="audioTimer" *ngIf="isAudioRecording && !audioBlobUrl"> {{ audioRecordedTime }} </div>
        <audio *ngIf="!isAudioRecording && audioBlobUrl"  controls>
          <source [src]="audioBlobUrl" type="audio/mp3">
        </audio>
      </div>
    </div>
    <div>
      <div>Video</div>
      <div>
        <button class="start-button" *ngIf="!isVideoRecording && !videoBlobUrl" (click)="startVideoRecording()">Start Video Recording</button>
        <button class="stop-button" *ngIf="isVideoRecording && !videoBlobUrl" (click)="stopVideoRecording()">Stop Video Recording</button>
        <button class="cancel-button" *ngIf="!isVideoRecording && videoBlobUrl" (click)="clearVideoRecordedData()">Clear Video Recording</button>
        <button class="download-button" *ngIf="!isVideoRecording && videoBlobUrl" (click)="downloadVideoRecordedData()">Download Video Recording</button>
        <div id="videoTimer" *ngIf="isVideoRecording && !videoBlobUrl"> {{ videoRecordedTime }} </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3>
            <video #videoElement>
              <source *ngIf="!isVideoRecording && videoBlobUrl" [src]="videoBlobUrl">
            </video>
          </h3>
        </div>
      </div>
    </div>
  </div> -->



