<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <img class="img-fluid" height="64px" width="162.77px" src="../../../../assets/home-asset/header_logo.png" alt="header-logo">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-link active me-4 fs-14 fw-700" aria-current="page" href="">Home</a>
                        <a class="nav-link me-4 fs-14 fw-700"  href="">About</a>
                        <a class="nav-link me-4 fs-14 fw-700"  href="">Language Lab</a>
                        <a class="nav-link me-4 fs-14 fw-700"  href="">Explore</a>
                        <a  class="nav-link fs-14 fw-700 text-pink header-btn" href="">LOGIN</a>
                    </div>
                  </div>
                </div>
              </nav>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="text-blue fs-34 fw-700 mt-5">coming soon</div>
        </div>
    </section>
  


    <footer class="footer-blue"></footer>

</body>

</html>