<div class="bnr-image position-relative">
    <img src="assets/images/home/Banner.png" alt="" class="w-100 img-fluid d-none d-sm-block">
    <img src="assets/images/home/banner-mobile.png" alt="" class="w-100 img-fluid d-block d-sm-none">
    <div class="bnr-cnct position-absolute top-0 start-0 pt-5 ps-4 ps-sm-5">
        <img src="assets/images/home/lab.png" alt="" class="nav-logo d-none d-sm-block">
        <p class="text-white fs-6 fw-light d-flex align-items-center pl-5 pt-5 mt-4 pt-sm-0 mt-sm-0"><span
                class="text-white fs-1 pe-1">I </span>LET'S LEARN ENGLISH TOGETHER</p>
        <p class="h2 text-white"><strong>SpeakEnglish</strong></p>
        <p class="h2" style="color: #f6ea7d;"><strong>Like an Expert.</strong></p>
        <p class="text-white fw-light fs-6 ">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
            Lorem ipsum dolor sit amet consectetur.</p>
        <button type="button" class=" btn mt-4 text-white btn-lg border-warning fs-6 bg-transparent border border-2">Read More</button>
    </div>
</div>

<div class="bnr-boxes position-relative">
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-2"  (click)="goToLevelAndRouting()">
                <div class="bnr-card text-center border rounded-5 py-4 px-2 shadow bg-white mb-4 mb-sm-0">
                    <img src="../../assets/images/home/customer-service.png" alt="logo">
                    <p class="pt-3 mb-0">Levels & Units</p>
                </div>
            </div>
            <div class="col-6 col-md-2">
                <div class="bnr-card text-center border rounded-5 py-4 px-2 shadow bg-white mb-4 mb-sm-0">
                    <img src="../../assets/images/home/books.png" alt="logo">
                    <p class="pt-3 mb-0">Resources Material</p>
                </div>
            </div>


            <div class=" col-6 col-md-2">
                <div class="bnr-card text-center border rounded-5 py-4 px-2 shadow bg-white mb-4 mb-sm-0">
                    <img src="../../assets/images/home/open-book.png" alt="logo">
                    <p class="pt-3 mb-0">Interactive Material</p>
                </div>
            </div>


            <div class="col-6 col-md-2">
                <div class="bnr-card text-center border rounded-5 py-4 px-2 shadow bg-white mb-4 mb-sm-0">
                    <img src="../../assets/images/home/message.png" alt="logo">
                    <p class="pt-3 mb-0">connect</p>
                </div>
            </div>

            <div class="col-6 col-md-2">
                <div class="bnr-card text-center border rounded-5 py-4 px-2 shadow bg-white mb-4 mb-sm-0">
                    <img src="../../assets/images/home/customer-service.png" alt="logo">
                    <p class="pt-3 mb-0">Export Coner</p>
                </div>
            </div>
           
        </div>
    </div>
</div>

<div class="tchr-sec position-relative">
    <div class="container">
        <div class="row ">
            <div class="offset-md-2 col-md-8">
                <div class="d-block d-sm-flex align-items-center justify-content-center pt-5 text-center">
                    <img src="../../assets/images/home/talking.svg" alt="logo">
                    <h4 class="px-2 px-sm-5 m-0 py-4 py-sm-0"><b>How to skill the second language</b> </h4>
                    <button type="button" class="btn btn-primary btn-lg px-4">view more</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="teacher">
            <div class="container">
                <div class="row ">
                    <div class="offset-md-2 col-md-8">
                        <div class="d-flex d-block align-items-center justify-content-center">
                            <div class="teacher1">
                                <h4 class="mt-20 text-primary">Boost your learning with Super language Lab</h4>
                                <p class="pt-2">Learning a language on Language Lab is completely free, but you can remove ads and support free education with Super. First 2 weeks on us!</p>
                            </div>
                            <img src="../../assets/images/home/Mask Group 1.svg" alt="logo" class="teacher2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="view-btn">
        <div class="container">
            <div class="row d-flex justify-content-around p-5 mt-20">
                <div class="col-sm-4">
                    <div class="card rounded-5 card1 mb-4 mb-sm-0">
                        <div class="card-body">
                            <div class="card rounded-5 text-center card2">
                                <div class="card-body">
                                    <img src="../../assets/images/home/support.png" alt="logo">
                                </div>
                            </div>
                            <h5 class="text-center text-white pt-4">Live online classes available 24/7</h5>
                            <p class="text-center text-white">Feel free to work and study with us.</p>
                            <div class="row p-2">
                                <button class="btn rounded-4 btn-lg bg-white d-flex align-items-center justify-content-between">Learn more.<i
                                        class="pi pi-arrow-circle-right view-btn text-white rounded-5 fs-5"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card rounded-5 card1 mb-4 mb-sm-0">
                        <div class="card-body">
                            <div class="card rounded-5 text-center card2">
                                <div class="card-body">
                                    <img src="../../assets/images/home/badge.png" alt="logo">
                                </div>
                            </div>
                            <h5 class="text-center text-white pt-4">Practise with online activities and materials</h5>
                            <p class="text-center text-white">Feel free to work and study with us.</p>
                            <div class="row p-2">
                                <button class="btn rounded-4 btn-lg bg-white d-flex align-items-center justify-content-between">Learn more.<i
                                        class="pi pi-arrow-circle-right view-btn text-white rounded-5 fs-5"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card rounded-5 card1 mb-4 mb-sm-0">
                        <div class="card-body">
                            <div class="card rounded-5 text-center card2">
                                <div class="card-body pb-4">
                                    <img src="../../assets/images/home/graduation-hat.png" alt="logo">
                                </div>
                            </div>
                            <h5 class="text-center text-white pt-4">Enhance your learning experience</h5>
                            <p class="text-center text-white">Feel free to work and study with us.</p>
                            <div class="row p-2">
                                <button class="btn rounded-4 btn-lg bg-white d-flex align-items-center justify-content-between">Learn more.<i
                                        class="pi pi-arrow-circle-right view-btn text-white rounded-5 fs-5"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>