<div class="bnr-image position-relative">
    
    <img src="assets/images/home/finalbanner.png" alt="" class="w-100 img-fluid d-none d-sm-block">
     <img src="assets/images/home/mobilebanner.png" alt="" class="w-100 img-fluid d-block d-sm-none">
      <div class="bnr-cnct position-absolute banner-content ps-sm-1">
        <!-- <img src="assets/images/home/lab.png" alt="" class="nav-logo d-none d-sm-block">   -->
        <div class="container">
            <div class="row">
            <div class=" offset-md-1 col-md-12">
                <div class="text pb-2">
      <p class="text-white fs-3 fw-light align-items-center mt-4 left-border">LET'S LEARN ENGLISH TOGETHER</p>
           
        <p class=" text-white" style="font-size: 80px;">SpeakEnglish</p>
        <p class="h2 pb-4" style="color: #f6ea7d;font-size: 80px;">Like an Expert.</p>
        <p class="text-white fw-light fs-4 pb-4 ">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
            Lorem ipsum dolor sit amet consectetur.</p>
        <button type="button" class=" btn mt-4 text-white btn-lg border-warning fs-3 bg-transparent border border-2 px-sm-5">Read More</button>
    </div>  
    </div>
    </div>
    </div>
    </div>
    
            <!-- <p class="top-image text-white fs-3 fw-light d-flex align-items-center mt-4">
                <span class="text-white fs-1 pe-1">I </span>
                    <div class="mt-5" style="margin-left: 300px; color:aliceblue"><b>LET'S LEARN ENGLISH TOGETHER</b></div>
            <p class="h2 text-white"><strong>SpeakEnglish</strong></p>
            <p class="h2" style="color: #f6ea7d;"><strong>Like an Expert.</strong></p>
            <p class="text-white fw-light fs-6 ">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
                Lorem ipsum dolor sit amet consectetur.</p>
            <button type="button" class=" btn mt-4 text-white btn-lg border-warning fs-6 bg-transparent border border-2">Read More</button> -->
    


<div class="bnr-boxes position-relative">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-6 col-sm-12 mb-3 mb-md-3"  (click)="goToLevelAndRouting()">
                <div class="bnr-card text-center border rounded-5 py-4 px-2 shadow bg-white mb-4 mb-sm-0">
                    <img src="../../assets/images/home/eng.png" alt="logo">
                    <p class=" fs-3 mb-4">Communicative English</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 mb-3 mb-md-3">
                <div class="bnr-card text-center border rounded-5 py-4 px-2 shadow bg-white mb-4 mb-sm-0">
                    <img src="../../assets/images/home/books.png" alt="logo">
                    <p class="fs-3 mb-4">Resources Material</p>
                </div>
            </div>


            <div class="col-lg-2 col-md-6 col-sm-12 mb-3 mb-md-3">
                <div class="bnr-card text-center border rounded-5 py-4 px-2 shadow bg-white mb-4 mb-sm-0">
                    <img src="../../assets/images/home/open-book.png" alt="logo">
                    <p class="fs-3 mb-4">Interactive Material</p>
                </div>
            </div>


            <div class="col-lg-2 col-md-6 col-sm-12 mb-3 mb-md-3">
                <div class="bnr-card text-center border rounded-5 py-4 px-2 shadow bg-white mb-4 mb-sm-0">
                    <img src="../../assets/images/home/message.png" alt="logo">
                    <p class="fs-3 mb-4">connect</p>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-12 mb-3 mb-md-3">
                <div class="bnr-card text-center border rounded-5 py-4 px-2 shadow bg-white mb-4 mb-sm-0">
                    <img src="../../assets/images/home/customer-service.png" alt="logo">
                    <p class="fs-3 mb-4">Expert Coner</p>
                </div>
            </div>
           
        </div>
    </div>
</div>

<div class="tchr-sec position-relative">
    <div class="container">
        <div class="row ">
            <div class="offset-md-2 col-md-8">
                <div class="d-block d-sm-flex align-items-center justify-content-center pt-5 text-center">
                    <img src="../../assets/images/home/talking.svg" alt="logo" height="130px">
                    <h4 class="px-2 px-sm-5 m-0 py-4 py-sm-0 fs-1"><b>How to skill the second language</b> </h4>
                    <button type="button" class="btn btn-primary btn-lg px-4 fs-1">view more</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="teacher">
            <div class="container">
                <div class="row ">
                    <div class="offset-md-2 col-md-6">
                        <div class="d-flex d-block align-items-center justify-content-center">
                            <div class="teacher1">
                                <h2 class="mt-5 text-primary fs-1 mb-4">Boost your learning with Super language Lab</h2>
                                <p class="pt-2 fs-3 mb-5 lh-lg">Learning a language on Language Lab is completely free, but you can remove ads and support free education with Super. First 2 weeks on us!</p>
                            </div>
                            <img src="../../assets/images/home/Mask Group 1.svg" alt="logo" width="200px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-8">
                <h4 class="mt-2 text-primary fs-3 ms-5"><b>Boost your learning with Super language Lab</b></h4>
                <div class="content d-flex ">
                <p class=" image mt-4 fs-4 ms-5 align-items-justify">Learning a language on Language Lab is completely free, but you can remove ads and support free education with Super. First 2 weeks on us!</p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../../assets/images/home/Mask Group 1.svg" alt="logo" class="teacher2 mt-5">
            </div>
        </div>
    </div> -->
    
    <!-- <div class="row offset-md-2">
        <div class="col-md-6">
            <div class="text text-center">
        <h4 class="mt-2 text-primary fs-3 ms-5"></h4>
            <div class="content d-flex "> -->
                <!-- <h4 class="mt-2 text-primary fs-3 ms-4"><b>Boost your learning with Super language Lab</b></h4>
            <p class=" image mt-4 fs-4 ms-5 align-items-justify ps-5">Learning a language on Language Lab is completely free, but you can remove ads and support free education with Super. First 2 weeks on us!</p> -->
            <!-- </div> -->
        <!-- </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/images/home/Mask Group 1.svg" alt="logo" class="teacher2 ms-1 pt-2">
        </div>
    </div>  -->
    
   <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3 mb-md-3">
        <div class="card rounded-5 card1 mx-4 mb-5 mb-sm-0">
            <div class="card-body">
                <div class="card rounded-5 text-center card2">
                    <div class="card-body">
                        <img src="../../assets/images/home/support.png" alt="logo">
                    </div>
                </div>
                <h5 class="text-center fs-2 text-white pt-4">Live online classes available 24/7</h5>
                <p class="text-center text-white  fs-3 pt-4">Feel free to work and study with us.</p>
                <div class="row p-4">
                    <button class="btn rounded-5 btn-lg bg-white d-flex align-items-center justify-content-between py-4" style="color:blue"><b>Learn more.</b><i
                            class="pi pi-arrow-circle-right view-btn text-white rounded-5 fs-5"></i></button>
                </div>
            </div>
        </div>
    </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-3 mb-md-3">
                    <div class="card rounded-5 card1 mx-4  mb-5 mb-sm-0">
                        <div class="card-body">
                            <div class="card rounded-5 text-center card2">
                                <div class="card-body">
                                    <img src="../../assets/images/home/badge.png" alt="logo">
                                </div>
                            </div>
                            <h5 class="text-center fs-2 text-white pt-4">Enhance your learning experience</h5>
                            <p class="text-center text-white  fs-3 pt-4">Feel free to work and study with us.</p>
                            <div class="row p-4">
                                <button class="btn rounded-5 btn-lg bg-white d-flex align-items-center justify-content-between py-4" style="color:blue"><b>Learn more.</b><i
                                        class="pi pi-arrow-circle-right view-btn text-white rounded-5 fs-5"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-3 mb-md-3">
                    <div class="card rounded-5 card1 mx-4  mb-5 mb-sm-0">
                        <div class="card-body">
                            <div class="card rounded-5 text-center card2">
                                <div class="card-body">
                                    <img src="../../assets/images/home/graduation-hat.png" alt="logo">
                                </div>
                            </div>
                            <h5 class="text-center fs-2 text-white pt-3">Practise with online activities and materials</h5>
                            <p class="text-center text-white  fs-3 pt-3">Feel free to work and study with us.</p>
                            <div class="row p-4">
                                <button class="btn rounded-5 btn-lg bg-white d-flex align-items-center justify-content-between py-4" style="color:blue"><b>Learn more.</b><i
                                        class="pi pi-arrow-circle-right view-btn text-white rounded-5 fs-5"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
    <footer>
        <div class="p-4 text-white mt-5" style="background-color:#0F38C1; text-align: right;">
            <h3>contact us</h3>
          </div>
</footer>