<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
         integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
         crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
         integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
         crossorigin="anonymous" referrerpolicy="no-referrer" />
   </head>
   <body>
      <header>
         <div class="container">
            <nav class="navbar navbar-expand-lg">
               <div class="container-fluid">
                  <img class="img-fluid mt-2" style="cursor: pointer;" width="59px" routerLink="/home" height="59px" src="../../../../assets/home-asset/header-round.png" alt="">
                  <img class="img-fluid" style="cursor: pointer;" routerLink="/home" height="64px" width="162.77px" src="../../../../assets/home-asset/header_logo.png" alt="header-logo">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon">
                  <i class="bi bi-list"></i>
                  </span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                     <div class="navbar-nav ms-auto">
                        <a class="nav-link active me-4 fs-14 fw-700" aria-current="page" href="/home">{{ 'HOME_HOME' | i18next }}</a>
                        <a class="nav-link active me-4 fs-14 fw-700" aria-current="page"  routerLink="/level">{{ 'HOME_LETS_LEARN' | i18next }}</a>
                        <a class="nav-link active me-4 fs-14 fw-700" aria-current="page" (click)="scrolltoDiv('boost-learning')">{{ 'HOME_LETS_PLAY' | i18next }}</a>
                        <a class="nav-link me-4 fs-14 fw-700 parent"  href="">
                           {{ 'HOME_ABOUT' | i18next }}
                           <ul class="sub-menu">
                              <li>
                        <a class="nav-link me-4 fs-14 fw-700" routerLink="/learn-tommorow" href="">{{ 'HOME_LEARN_FOR_TOMORROW' | i18next }}</a>
                        </li>
                        <li>
                        <a class="nav-link me-4 fs-14 fw-700" routerLink="/research" href="">{{ 'HOME_RESEARCH' | i18next }}</a>
                        </li>
                        </ul>
                        </a>
                        <a routerLink="/level" class="nav-link me-4 fs-14 fw-700 d-none"  href="">{{ 'HOME_LANGUAGE_LAB' | i18next }}</a>
                        <a class="nav-link fs-14 fw-700" id="eng">Eng &nbsp; /</a>
                        <a class="nav-link me-4 fs-14 fw-700" id="de">தமிழ்</a>
                        <a routerLink="/login" *ngIf="!isUserActive" class="nav-link fs-14 fw-700 text-pink header-btn" href="">{{ 'HOME_SIGN_IN' | i18next }}</a>
                        <a *ngIf="isUserActive" (click)="telemetryService.interact('logout', 'home'); logOut()" class="nav-link fs-14 fw-700 text-pink header-btn" href="">{{ 'HOME_SIGN_OUT' | i18next }}</a>
                     </div>
                  </div>
               </div>
            </nav>
         </div>
      </header>
      <section>
         <div class="ptb-80 position-relative">
            <div class="follow-label">மொழிகள்</div>
            <div class="container">
               <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide>
                     <div class="row">
                        <div class="col-lg-4 col-sm-12 ps-5">
                           <img width="567px" height="567px" class="img-fluid girls-size ps-5"
                              src="../../../../assets/home-asset/learn-english.png" alt="girls">
                        </div>
                        <div class="col-lg-8 col-sm-12">
                           <div class="map-img ps-5">
                              <div class="english fw-700 fs-24">
                                 <!-- <div>{{ 'HOME_LETS_LEARN_ENGLISH_TOGETHER' | i18next }}</div> -->
                              </div>
                              <div class="text-blue fs-64 fw-900 mt-sm-20">{{ "HOME_SPEAK_ENGLISH" | i18next }}</div>
                              <div class="fs-64 fw-900 text-pink">{{ "HOME_WITH_CONFIDENCE" | i18next }}</div>
                              <div class="english fs-16 mw-72">{{ "HOME_BANNER_FIRST_DESCRIPTION" | i18next }}</div>
                              <!-- <div class="mt-4">
                                 <a class="anker-holder bg-blue text-white fs-14" href="#">Read More</a>
                                 </div> -->
                           </div>
                        </div>
                     </div>
                  </ng-template>
                  <ng-template carouselSlide>
                     <div class="row">
                        <div class="col-lg-4 col-sm-12 ps-5">
                           <img width="567px" height="567px" class="img-fluid girls-size ps-5"
                              src="../../../../assets/home-asset/we-are-building.png" alt="girls">
                        </div>
                        <div class="col-lg-8 col-sm-12">
                           <div class="map-img ps-5">
                              <div class="english fw-700 fs-24">
                                 <div class="text-blue fs-64 fw-900 mt-sm-20">{{ "HOME_IMPACT_IN_TERMS_OF_POTENTIAL" | i18next }}</div>
                              </div>
                              <div class="text-yellow fs-64 fw-900">{{ "HOME_WE_ARE_BUILDING" | i18next }}</div>
                              <!-- <div class="fs-64 fw-900 text-yellow">{{ "HOME_FOR_THE_CHILDREN" | i18next }}.</div> -->
                              <div class="english fs-16 mw-72">{{ "HOME_BANNER_SECOUND_DESCRIPTION" | i18next}}</div>
                              <!-- <div class="mt-4">
                                 <a class="anker-holder bg-blue text-white fs-14" href="#">Read More</a>
                                 </div> -->
                           </div>
                        </div>
                     </div>
                  </ng-template>
                  <ng-template carouselSlide>
                     <div class="row">
                        <div class="col-lg-4 col-sm-12 ps-5">
                           <img width="567px" height="567px" class="img-fluid girls-size ps-5"
                              src="../../../../assets/home-asset/academic-research.png" alt="girls">
                        </div>
                        <div class="col-lg-8 col-sm-12">
                           <div class="map-img ps-5">
                              <div class="english fw-700 fs-24">
                                 <div class="text-blue fs-64 fw-900 mt-sm-20">{{ "HOME_STATE_OF_THE_ART_TECHNOLOGY_MEET" | i18next }}</div>
                              </div>
                              <div class="text-orange fs-64 fw-900">{{ "HOME_ACADEMIC_RESEARCH" | i18next }}</div>
                              <!-- <div class="fs-34 fw-900 text-orange">{{ "HOME_TO_DRIVE_LANGUAGE_LEARNING" | i18next }}</div> -->
                              <div class="english fs-16 mw-72">{{ "HOME_BANNER_THIRD_DESCRIPTION" | i18next }}</div>
                              <!-- <div class="mt-4">
                                 <a class="anker-holder bg-blue text-white fs-14" href="#">Read More</a>
                                 </div> -->
                           </div>
                        </div>
                     </div>
                  </ng-template>
               </owl-carousel-o>
            </div>
         </div>
      </section>
      <section>
         <div class="bg-grey">
            <div class="container">
               <div class="d-flex circle-holder justify-content-between flex-wrap sm-around gap-40">
                  <a routerLink="/level">
                     <div class="blue-circle flex-center">
                        <div>
                           <div class="flex-center">
                              <img class="img-fluid" height="53.33px" width="53.33px" src="../../../../assets/home-asset/earth.png" alt="">
                           </div>
                           <div  class="text-white fs-16 fw-700 text-center mt-3 icon-text">{{ "HOME_LETS_LEARN" | i18next }}</div>
                        </div>
                     </div>
                  </a>
                  <a (click)="scrolltoDiv('boost-learning')">
                     <div class="blue-circle flex-center">
                        <div>
                           <div class="flex-center">
                              <img class="img-fluid" height="45.33" width="58.67" src="./../../../../assets/home-asset/open-book.png" alt="">
                           </div>
                           <div class="text-white fs-16 fw-700 mt-3 icon-text">{{ "HOME_LETS_PLAY" | i18next }}</div>
                        </div>
                     </div>
                  </a>
                  <a routerLink="/coming" href="#">
                     <div class="blue-circle flex-center">
                        <div>
                           <div class="flex-center">
                              <img class="img-fluid" height="53.33px" width="53.33px" src="./../../../../assets/home-asset/connect.png"
                                 alt="">
                           </div>
                           <div class="text-white fs-16 fw-700 mt-3 icon-text">{{ "HOME_READ_ALONG" | i18next }}!</div>
                        </div>
                     </div>
                  </a>
                  <a routerLink="/coming" href="#">
                     <div class="blue-circle flex-center">
                        <div>
                           <div class="flex-center">
                              <img class="img-fluid" height="53.33" width="45.33" src="../../../../assets/home-asset/expert.png" alt="">
                           </div>
                           <div class="text-white fs-16 fw-700 mt-3 icon-text">{{ "HOME_TEACHERS_HUB" | i18next }}</div>
                        </div>
                     </div>
                  </a>
                  <a routerLink="/research" href="#">
                     <div class="blue-circle  flex-center">
                        <div>
                           <div class="flex-center">
                              <img class="img-fluid" height="53.33" width="42.67" src="../../../../assets/home-asset/file-sve.png"
                                 alt="">
                           </div>
                           <div class="text-white fs-16 fw-700 mt-3 icon-text">{{ "HOME_RESEARCH" | i18next }}</div>
                        </div>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </section>
      <section id="lear-for-tomorrow">
         <div class="container">
            <div class="item ptb-120">
               <div class="row">
                  <div class="col-md-12 col-lg-5 col-sm-12">
                     <div class="text-blue fs-64 fw-900">{{ "HOME_HOW_TO_LEARN_FOR_TOMORROW" | i18next }}</div>
                     <div class="fs-16 mt-3">
                        In today’s interconnected world, it is essential for the school students to build the skills today to engage as confident global citizens of tomorrow. To achieve this, they need to have not just awareness of the world but strong communication skills to voice their thoughts. Reading and speaking a language with comfort are critical for sharing one’s thoughts and engaging with the wider world.
                     </div>
                     <div class="fs-16 mt-3">
                        The government of Tamilnadu envisions to leverage technological advances including leveraging Artificial Intelligence and Machine Learning capabilities to develop tools and processes to enable effective listening, speaking, and reading in Tamil and English.
                     </div>
                     <div class="mt-4"><a routerLink="/learn-tommorow" href="#" class="fs-14 fw-700 text-pink header-btn">{{ "HOME_KNOW_MORE" | i18next }}</a></div>
                  </div>
                  <div class="col-md-12 col-lg-7 col-sm-12 mt-sm-20">
                     <img width="716px" height="453.39px" class="img-fluid" src="../../../../assets/home-asset/second-lang.png"
                        alt="girls">
                  </div>
               </div>
            </div>
         </div>
      </section>
      <div class="container">
         <div class="item pb-120 ">
            <div class="row">
               <div class="col-md-12 col-lg-7 col-sm-12">
                  <img width="832px" height="486.99px" class="img-fluid" src="../../../../assets/home-asset/girls-carausel.png" alt="girls">
               </div>
               <div class="col-md-12 col-lg-4 ps-5 col-sm-12 ps1-sm-12">
                        <div class="text-blue fs-34 fw-700 mt-sm-20">{{ "HOME_BREAK_THE_BARRIERS" | i18next }}</div>
                        <div class="fs-14 mt-3 ">{{ "HOME_BUILDS_A_CONDUCIVE_ENVIRONMENT" | i18next }}</div>
                        <div class="fs-14 mt-3 ">{{ "HOME_THE_STUDENTS_AND_TEACHERS_WILL_USE_MOZHIGAL" | i18next }}</div>
               </div>
            </div>
         </div>
      </div>
      <section>
      </section>
      <section id="boost-learning">
         <div id="blue-section" class="bg-blue ptb-120 position-relative">
            <img class="shadow" src="../../../../assets/home-asset/shadow.png" alt="img">
            <div class="follow-label2">மொழிகள்</div>
            <div class="contianer">
               <div class="flex-center">
                  <div class="text-center text-white fs-48 fw-900 mw-72">{{ "HOME_BOOST_YOUR_LEARNING" | i18next }}</div>
               </div>
            </div>
            <div class="contianer">
               <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide>
                     <div class="flex-center mt-3">
                        <div class="iframe-container">
                           <iframe width="600px" height="600px" class="responsive-iframe" src="/assets/games/index.html" allow="camera; microphone" frameborder="0"></iframe>
                        </div>
                     </div>
                  </ng-template>
                  <ng-template carouselSlide>
                     <div class="flex-center mt-3">
                        <div class="iframe-container">
                           <iframe width="600px" height="600px" class="responsive-iframe" src="/assets/sb-all/index.html#/proto3/all?source=/assets/sb-all/db/proto3.json" allow="camera; microphone" frameborder="0"></iframe>
                        </div>
                     </div>
                  </ng-template>
               </owl-carousel-o>
            </div>
         </div>
      </section>
      <section>
         <div class="ptb-120">
            <div class="flex-center">
               <div class="text-center fw-900 fs-48">{{ "HOME_TESTIMONIALS" | i18next }}</div>
            </div>
            <div class="flex-center">
               <div class="text-center fs-24">{{ "HOME_OUR_JOURNEY_SO_FAR" | i18next }}</div>
            </div>
            <div class="container">
               <owl-carousel-o [options]="customOptions78">
                  <ng-template carouselSlide>
                     <div class="row">
                        <div class="col-lg-3 offset-lg-1 offset-sm-0 col-sm-12">
                           <img class="img-fluid sizetest" src="../../../../assets/home-asset/Georgina.png" alt="girls">
                        </div>
                        <div class="col-lg-8 col-sm-12 mt-5">
                           <img class="semi-colun" src="../../../../assets/home-asset/semi-colun.png" alt="semi-colun">
                           <div class="ms-33 mw-74">
                              <div class="test-tit text-grey">{{ "HOME_THIS_TWO_WEEKS_PROGRAM_ON_SPOKEN_ENGLISH" | i18next }}.</div>
                              <div class="ms-30p">
                                 <img class="semi-colun" src="../../../../assets/home-asset/semi-colun.png" alt="semi-colun">
                              </div>
                              <div class="text-blue fw-900 fs-24 mt-5">{{ "HOME_A_GEORGINA" | i18next }}</div>
                              <div class="fs-16 text-grey">{{ "HOME_BT_ASST" | i18next }}</div>
                           </div>
                        </div>
                     </div>
                  </ng-template>
                  <ng-template carouselSlide>
                     <div class="row">
                        <div class="col-lg-3 offset-lg-1 offset-sm-0 col-sm-12">
                           <img class="img-fluid sizetest" src="../../../../assets/home-asset/Maheswari.png" alt="girls">
                        </div>
                        <div class="col-lg-8 col-sm-12 mt-5">
                           <img class="semi-colun" src="../../../../assets/home-asset/semi-colun.png" alt="semi-colun">
                           <div class="ms-33 mw-74">
                              <div class="test-tit text-grey">{{ "HOME_FIRST_OF_ALL_I_WOULD_LIKE_TO_THANK_YOU" | i18next }}.</div>
                              <div class="ms-30p">
                                 <img class="semi-colun" src="../../../../assets/home-asset/semi-colun.png" alt="semi-colun">
                              </div>
                              <div class="text-blue fw-900 fs-24 mt-5">{{ "HOME_M_R_MAHESWARI" | i18next }}</div>
                              <div class="fs-16 text-grey">{{ "HOME_B_T_ASST" | i18next }}</div>
                           </div>
                        </div>
                     </div>
                  </ng-template>
                  <ng-template carouselSlide>
                     <div class="row">
                        <div class="col-lg-3 offset-lg-1 offset-sm-0 col-sm-12">
                           <img class="img-fluid sizetest" src="../../../../assets/home-asset/Gajalakshmi.png" alt="girls">
                        </div>
                        <div class="col-lg-8 col-sm-12 mt-5">
                           <img class="semi-colun" src="../../../../assets/home-asset/semi-colun.png" alt="semi-colun">
                           <div class="ms-33 mw-74">
                              <div class="test-tit text-grey">{{ "HOME_I_ENJOYED_MY_SPOKEN_ENGLISH_CLASS_VERY_MUCH" | i18next }}.</div>
                              <div class="ms-30p">
                                 <img class="semi-colun" src="../../../../assets/home-asset/semi-colun.png" alt="semi-colun">
                              </div>
                              <div class="text-blue fw-900 fs-24 mt-5">{{ "HOME_D_GAJALAKSHMI" | i18next }}</div>
                              <div class="fs-16 text-grey">{{ "HOME_STUDENT_IX_A" | i18next }}</div>
                           </div>
                        </div>
                     </div>
                  </ng-template>
                  <ng-template carouselSlide>
                     <div class="row">
                        <div class="col-lg-3 offset-lg-1 offset-sm-0 col-sm-12">
                           <img class="img-fluid sizetest" src="../../../../assets/home-asset/pGajalakshmi.png" alt="girls">
                        </div>
                        <div class="col-lg-8 col-sm-12 mt-5">
                           <img class="semi-colun" src="../../../../assets/home-asset/semi-colun.png" alt="semi-colun">
                           <div class="ms-33 mw-74">
                              <div class="test-tit text-grey">{{ "HOME_SHE_HAS_LEARNT_TO_SPEAK_ENGLISH_VERY_WELL" | i18next }} </div>
                              <div class="ms-30p">
                                 <img class="semi-colun" src="../../../../assets/home-asset/semi-colun.png" alt="semi-colun">
                              </div>
                              <div class="text-blue fw-900 fs-24 mt-5">{{ "HOME_PARENT_OF_D_GAJALAKSHMI" | i18next }}</div>
                              <div class="fs-16 text-grey d-none">{{ "HOME_B_T_ASST" | i18next }}</div>
                           </div>
                        </div>
                     </div>
                  </ng-template>
                  <ng-template carouselSlide>
                     <div class="row">
                        <div class="col-lg-3 offset-lg-1 offset-sm-0 col-sm-12">
                           <img class="img-fluid sizetest" src="../../../../assets/home-asset/Sujithra.png" alt="girls">
                        </div>
                        <div class="col-lg-8 col-sm-12 mt-5">
                           <img class="semi-colun" src="../../../../assets/home-asset/semi-colun.png" alt="semi-colun">
                           <div class="ms-33 mw-74">
                              <div class="test-tit text-grey">{{ "HOME_MY_DAUGHTER_SUJITHA_HAS_STARTED" | i18next }}</div>
                              <div class="ms-30p">
                                 <img class="semi-colun" src="../../../../assets/home-asset/semi-colun.png" alt="semi-colun">
                              </div>
                              <div class="text-blue fw-900 fs-24 mt-5">{{ "HOME_PARENT_OF_SUJITHRA_CLASS_IX" | i18next }}</div>
                              <div class="fs-16 text-grey d-none">{{ "HOME_B_T_ASST" | i18next }}</div>
                           </div>
                        </div>
                     </div>
                  </ng-template>
               </owl-carousel-o>
            </div>
         </div>
      </section>
      <section class="d-none" >
         <section>
            <div class="bg-grey ptb-120">
               <div class="text-center text-blue fs-48 fw-900">Why Choose Mozhigal </div>
               <div class="container pt-5">
                  <div class="d-flex justify-content-around flex-wrap gap-50">
                     <div>
                        <div class="bg-pink flex-center mb-4">
                           <div>
                              <div class="flex-center">
                                 <div class="text-center text-white mw-72 fs-24 min-h fw-700">Live online classes
                                    available 24/7
                                 </div>
                              </div>
                              <div class="flex-center">
                                 <div class="text-center text-white fs-16  mw-72 fw-700">Feel free to work and study
                                    with us.
                                 </div>
                              </div>
                              <!-- <div class="mt-5 flex-center">
                                 <a class="anker-holder bg-white text-black fs-14" href="#">Read More</a>
                                 </div> -->
                           </div>
                        </div>
                     </div>
                     <div>
                        <div class="bg-pink flex-center mb-4">
                           <div>
                              <div class="flex-center">
                                 <div class="text-center text-white mw-72 fs-24 min-h fw-700">Enhance your
                                    learning experience
                                 </div>
                              </div>
                              <div class="flex-center">
                                 <div class="text-center text-white fs-16  mw-72 fw-700">Feel free to work and
                                    study with us.
                                 </div>
                              </div>
                              <!-- <div class="mt-5 flex-center">
                                 <a class="anker-holder bg-white text-black fs-14" href="#">Read More</a>
                                 </div> -->
                           </div>
                        </div>
                     </div>
                     <div>
                        <div class="bg-pink flex-center mb-4">
                           <div>
                              <div class="flex-center">
                                 <div class="text-center text-white mw-72 fs-24 min-h fw-700">Practise with
                                    online activities
                                    and materials
                                 </div>
                              </div>
                              <div class="flex-center">
                                 <div class="text-center text-white fs-16  mw-72 fw-700">Feel free to work and
                                    study with us.
                                 </div>
                              </div>
                              <!-- <div class="mt-5 flex-center">
                                 <a class="anker-holder bg-white text-black fs-14" href="#">Read More</a>
                                 </div> -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </section>
      <section >
         <div class="bg-grey ptb-120">
            <div class="text-center text-blue fs-48 fw-900 flex-center">{{ "HOME_PARTNERS" | i18next }}</div>
            <div class="flex-center fs-24">{{ "HOME_TNSCERT_PARTNERS_WITH" | i18next }}</div>
            <div class="partner-logo flex-center">
                <div class="d-flex justify-content-around align-content-center mt-4 lgo-header flex-wrap gap-50">
                    <div class="br1">
                        <div><img class="" src="../../../../assets/home-asset/logo-en.png" alt="SCERT logo" height="135px"></div>
                    </div>
                    <div class="br1">
                        <div><a href="https://ai4bharat.org/" target="_blank"name="AI4Bharat"><img height="135px" src="../../../../assets/home-asset/ai-for-bharat.jpeg" alt="AI4Bharat"></a></div>
                    </div>
                    <div class="br1">
                        <div><a href="#"><img height="135px" src="../../../../assets/home-asset/ekstep-removebg-preview.png" alt="ekstep Foundation"></a></div>
                    </div>
                    <div class="br1">
                        <div class="d-flex align-content-center tisss">
                            <div class="mt-4 mb-4"><a href="#"><img  height="75px"src="../../../../assets/home-asset/connected.png" alt="ekstep Foundation"></a></div>
                            <div><a href="#"><img height="135px"  src="../../../../assets/home-asset/tiss-logo.png" alt="ekstep Foundation"></a></div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
      </section>
      <footer class="footer-blue">
         <span style="color:white">Visitors Counter: </span>
         <!-- hitwebcounter Code START -->
         <a href="https://www.hitwebcounter.com" target="_blank">
         <img src="https://hitwebcounter.com/counter/counter.php?page=8417830&style=0006&nbdigits=1&type=ip&initCount=0" title="Free Counter" Alt="web counter"   border="0" /></a>
         <div>Device Id: {{this.logsService.getFingerPrintJsId()?.result}}</div>
      </footer>
      <script src="../../../../vendorowl/vendors/jquery.min.js"></script>
   </body>
</html>
