
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter&family=Roboto:wght@300;400&display=swap');
body , html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fff;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.fw-700{
    font-weight: 700; 
}
.fw-900{
    font-weight: 900; 
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-20{
    font-size: 20px;
}
.fs-24{
    font-size: 24px;
}
.fs-34{
    font-size: 34px;
}
.fs-48{
    font-size: 48px;
}
.fs-64{
    font-size: 64px;
}
.text-blue{
    color: #662D91 !important; 
}
.text-pink{
    color: #ED217C !important; 
}

.text-grey{
    color: #333333;
}
.bg-blue{
    background: #662D91;
}
.bg-grey{
    background: #FAF8FC; 
    padding: 80px 0;
}
.mw-72{
    max-width: 82%;
}
.mw-43{
    max-width: 43%;
}
.min-h{
    min-height: 130px;
}
.ms-33{
    margin-left: 33px;
}
.mw-74{
    max-width: 74%;
}
.mw-37{
    max-width: 37%;
}
.ms-30p{
    margin-left: 30%;
}


.gap-15{
    gap: 15px;
}
.gap-50{
    gap: 50px;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
.pb-120{
    padding-bottom: 110px !important;
}

.ptb-120{
    padding: 120px 0;
}
.ptb-80{
    padding: 80px 0;
}
.ptb-200{
    padding: 200px 0;
}
.ptb-250{
    padding: 250px 0;
}
.pb-500{
    padding-bottom: 708px;
}
.map-img{
    background-image: url("./../../../../assets/home-asset/map.png");
    // height: 567px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.anker-holder{
    display: inline-block;
    padding: 13px 37px !important;
    text-decoration: none;
    border-radius: 8px;
}
.blue-circle{
    width: 230px;
    height: 230px;
    border-radius: 200px;
    background-image: url("../../../../assets/home-asset/bg-img-blue.png");
    background-position: right;
    background-repeat: no-repeat;
}
.sizetest{
     width:285.76px !important;
     height:285.76px;
}
.test-tit{
    font-size: 24px;
    line-height: 39px;
}
.bg-pink{
    background: #EC297B !important;
    width: 329.6px;
   padding: 115px 0;
    border-radius: 24px;
}
.header-btn{
    height: 51px;
    width: 119px;
    border: 1px solid #ED217C;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.follow-label {
    position: absolute;
    top: 36.8%;
    color: #662D91; 
    font-size: 32px;
    transform: rotate(90deg);
    font-weight: 900;
    left: 10px;
}
.follow-label:after {
    content: '';
    position: absolute;
    width: 220px;
    top: 25px;
    left: 190px;
    height: 1px;
    background: #9F7CBA;
;
}
/* .bg-blue12{
    background-image: url("./asset/blue.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.follow-label2 {
    position: absolute;
    top: 47%;
    color: #fff; 
    font-size: 32px;
    transform: rotate(90deg);
    font-weight: 900;
    left: 10px;
}
.follow-label2:after {
    content: '';
    position: absolute;
    width: 220px;
    top: 25px;
    left: 190px;
    height: 1px;
    background: #fff;
;
}
.semi-colun{
    height: 44px !important;
    width: 47px !important;
}
.footer-blue{
    height: 77.28px;
    background: #662D91;
}
.shadow{
    position: absolute;
    top: 14%;
    left: 110px;
    mix-blend-mode:multiply;
    opacity: 0.2;
}
a{
    text-decoration: none !important;
}
.moretext {
    display: none;
}
.read-btn{
    margin-top: 8px;
    color: red;
    cursor: pointer;
}
@media (min-width:1000px) {
    .container{
        max-width: 1450px !important;
    }
}
@media (max-width:659px) {
    .follow-label{
        display: none;
    }
    .follow-label2{
        display: none;
    }
    .ps-5 {
        padding-left: 0.5rem!important;
    }
    .fs-64{
        font-size: 30px !important;
    }
    .fs-24 {
        font-size: 18px !important;
    }
    .ptb-80 {
        padding: 42px 0 !important;
    }
    .map-img{
        height: unset;
    }
    .owl-heigh{
        height: unset !important;
    }
    .blue-circle{
        margin-bottom: 20px;
    }
    .circle-holder{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .pb-120{
        padding-bottom: 50px !important;
    }
    .ptb-120 {
        padding: 85px 0 !important;
    }
    .bg-grey {
        padding: 43px 0 !important;
    }
    .mw-37 {
        max-width: 90% !important;
    }
    .ptb-250 {
        padding: 71px 0 !important;
    }
    .mw-74 {
        max-width: 83% !important;
    }
    .bg-pink {
        background: #EC297B !important;
        width: 289.6px;
        padding: 75px 0;
        border-radius: 24px;
    }
    .mw-72{
        max-width: 100% !important;
    }
}
.iframe-container {
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.responsive-iframe {
   width: 50%;
}
.owl-theme .owl-dots .owl-dot span {
    width: 20px !important;
    height: 20px !important;
    margin: 5px 10px !important;
    background: #fff !important;
}
.tamil{
	display: none;
}
.icon-text{
    padding: 0 20px;
    text-align: center;
}
#panel,#flip{
    border:solid 1px #c3c3c3;
}
#panel{
    display:none;
    background-color:#F5F5F5;
    width: 122px;
  }
  #flip{
    padding: 13px 27px !important;
    border: 1px solid #ED217C;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .meu{
    margin-left: 40px;
  }
  .d-none{ display: none;}
  .navbar-toggler-icon i{
    font-size: 50px;
  }
  .navbar-nav .sub-menu { display:none; padding-left: 0; z-index: 2;}
  .navbar-nav .sub-menu, .navbar-nav .sub-menu li { list-style: none; margin-left: 0;}
  .navbar-nav .parent{ position: relative;}
  .navbar-nav .parent:hover .sub-menu{ display: block; 
    position: absolute;
    width: 210px;
    background: #e7e7e7;
    border: 1px solid #bbb;
    margin-top: 5px;
}
.text-yellow{ color: #FDA700;}
.text-orange{color: #FF6745;}
.list-style{ margin-top: 20px;}
.list-style li{display: inline-block; margin-right: 20px; padding: 10px; border: 1px solid #ddd;}
li.special{ 
    border: none!important;
    padding-right: 25px !important;
    margin-right: 25px!important;
    border-right: 1px solid #e9e8e8 !important;
}
@media (max-width: 992px){
   .mt-sm-20{
    margin-top: 20px !important;
   }
   .ps1-sm-12{
    padding-left: 12px !important;
   }
}

@media (max-width: 1250px){
    .responsive-iframe{
        width: 87% !important;
    }
    .gap-40{
        gap: 40px !important;
    }
    .sm-around{
        justify-content: space-around !important;
    }
}
@media (max-width: 1465px){
    .follow-label{
        left: -30px !important;
    }
    .follow-label2{
        left: -30px !important;
    }
    .responsive-iframe{
        width: 75% !important;
    }
}
@media (max-width: 1465px){
    .responsive-iframe{
        width: 88% !important;
    }
}

@media (max-width: 840px){
    .responsive-iframe{
        width: 95% !important;
    }
    .follow-label2{
        display: none !important;
    }
}
@media (max-width: 659px) {
    .responsive-iframe{
        width: 90%;
    }
    .lgo-header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .br1{
        margin:10px;
        border: 1px solid #ddd;
    }
    .br1 img{
        max-width: 100% !important;
        height: auto !important;
    }
    .tisss{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.br1{
    padding:10px;
    border: 1px solid #ddd;
}
