<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <img class="img-fluid" height="64px" width="162.77px" src="../../../../assets/home-asset/header_logo.png" alt="header-logo">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-link active me-4 fs-14 fw-700" aria-current="page" href="">Home</a>
                        <a class="nav-link me-4 fs-14 fw-700"  href="">About</a>
                        <a class="nav-link me-4 fs-14 fw-700"  href="">Language Lab</a>
                        <a class="nav-link me-4 fs-14 fw-700"  href="">Explore</a>
                        <a class="nav-link fs-14 fw-700 text-pink header-btn" href="">LOGIN</a>
                    </div>
                  </div>
                </div>
              </nav>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="text-blue fs-34 fw-700 mt-5">Approach and Design for Language Lab Portal</div>
        <div class="fs-14 mt-2">
            After deep research and landscape study of the current frameworks existing in foreign language
            learning and good practices in creation of a user friendly interface to enable children to learn language, we have decided to use the following design principles while developing “mozhigal:
        </div>


        <div class="text-blue fs-34 fw-700 mt-5">Post Method Pedagogy : </div>
        <div class="fs-14 mt-2">
            Post method pedagogy is a teaching framework which enables
            classroom practitioners to generate location- specific, classroom oriented innovative practices.
            It emphasizes on the ability to take theorized TLM and make it adaptive to classroom reality
        </div>


        <div class="text-blue fs-34 fw-700 mt-5">Constructivism :</div>
        <div class="fs-14 mt-2">
            Constructivism views learning as an active process where a students’
            knowledge is constructed through experience. Problem solving and understanding are
            emphasized in this theory through authentic tasks, experiential learning and collaboration.
            Constructivist teaching promotes learners’ motivation and critical thinking, and encourages
            them to learn independently [Amineh & Davatgari, 2015]. 2
        </div>

        <div class="text-blue fs-34 fw-700 mt-5">Bilingual Approach :</div>
        <div class="fs-14 mt-2">
            Teaching of a second language by using the native tongue as the base
            language in the transaction of TLM. Cummins’s Common Underlying Proficiency (CUP) theory
            assumes that students will be able to draw on their first language to be able to function at an acceptable standard in the second language. [Cummins, 2000].
        </div>

        <div class="text-blue fs-34 fw-700 mt-5">Multimodal learning :</div>
        <div class="fs-14 mt-2">
            The use of multimedia as an effective TLM for students which includes a
            combination of auditory, visual , kinesthetic and reading/writing materials [Birch and Sankey,
            2008].
        </div>

        <div class="text-blue fs-34 fw-700 mt-5">Peer learning :</div>
        <div class="fs-14 mt-2 mb-5">Promoting collaboration by peers coordinating and learning with one another.</div>
        </div>
    </section>
  


    <footer class="footer-blue"></footer>

</body>

</html>